<div style="margin-top: 10%; ">
<div class="counter_background" style="background-image:url(assets/images/counter_background.jpg); height:150%"></div>
<div >
<ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist" style="margin-left: 38%; ">
    <li class="nav-item ">
      <a class="nav-link active mt-5 mb-3 mr-2 color" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Courses</a>
    </li>
    
    <li class="nav-item ">
      <a class="nav-link mt-5 mb-3  color " id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Events</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link mt-5 mb-3 ml-2 color" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="false">Users</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><app-courses-table></app-courses-table></div>

    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><app-events-table></app-events-table></div>
    <div class="tab-pane fade" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab"><app-users-table></app-users-table></div>
  </div>
</div>
</div>