
<div class="counter " style="margin-top: 0;">
  
    <div class="counter_background" style="background-image:url(assets/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row " >
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title mt-5 mb-3 text-center">{{title}}</h2>
                    <form [formGroup]="signupForm"  class="counter_form_content d-flex flex-column align-items-center justify-content-center" >
                        <input type="text" class="counter_input" formControlName="firstName" placeholder="First Name" >
                        <span *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
                          
                          <span *ngIf="signupForm.controls['firstName'].errors.required" style="color: rgb(253, 81, 81);">First Name Is required</span>
                          <span *ngIf="signupForm.controls['firstName'].errors.minlength"style="color: rgb(253, 81, 81);"> First Name must have at least 3 carachters</span>

                        </span>
                        <input type="text" class="counter_input" formControlName="lastName" placeholder="Last Name" >
                          <span *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">
                          
                            <span *ngIf="signupForm.controls['lastName'].errors.required"style="color: rgb(253, 81, 81);">Last Name Is required</span>
                            <span *ngIf="signupForm.controls['lastName'].errors.minlength"style="color: rgb(253, 81, 81);"> LastName must have at least 4 carachters</span>
  
                          </span>
                        <select *ngIf='visibility=="2"'  class="mb-2 h-100"style="width:100% ;"  formControlName="gender" required>
                            <option value="">Gender</option>
                            <option value="women">Women</option>
                            <option value="men">Male</option>
                          </select>
                          <span *ngIf="signupForm.controls['gender'].invalid && (signupForm.controls['gender'].touched || signupForm.controls['gender'].dirty)">
                          
                            <span *ngIf="signupForm.controls['gender'].errors.required"style="color: rgb(253, 81, 81);">Gender Is Required</span>
                          </span>

                          <select *ngIf='visibility=="1"' class="mb-2 mh-100"style="width:100% ;"  formControlName="speciality" >
                            <option value="">Specilality</option>
                            <option value="web developpement"style="color: rgb(253, 81, 81);">Web Developpement</option>
                            <option value="mecanic">Mecanic</option>
                            <option value="math">Math</option>
                          </select>
                          <span *ngIf="signupForm.controls['speciality'].invalid && (signupForm.controls['speciality'].touched || signupForm.controls['speciality'].dirty)">
                          
                            <span *ngIf="signupForm.controls['speciality'].errors.required"style="color: rgb(253, 81, 81);">Speciality Name Is required</span>
                            
  
                          </span>
                        <input type="email" class="counter_input" formControlName="email" placeholder="Email" >
                        
                        <span *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
                          
                            <span *ngIf="signupForm.controls['email'].errors.required"style="color: rgb(253, 81, 81);">Email Is required</span>
                            <span *ngIf="signupForm.controls['email'].errors.email"style="color: rgb(253, 81, 81);"> Invalid Email</span>
  
                          </span>

                        <input type="password" class="counter_input" formControlName="password" placeholder="Password" >
                        <span *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
                            <span *ngIf="signupForm.controls['password'].errors.required"style="color: rgb(253, 81, 81);">Password is required</span>
                             <span *ngIf="signupForm.controls['password'].errors.minlength"style="color: rgb(253, 81, 81);"> Password must have between 6 and 12 carachters</span>
                             <span *ngIf="signupForm.controls['password'].errors.maxlength"style="color: rgb(253, 81, 81);"> Password must have between 6 and 12 carachters</span>
                             <span   *ngIf="signupForm.controls['password'].errors.pattern"  class="text-danger"style="color: rgb(253, 81, 81);"> 
                              must have at least one uppercase character, one special character and one number</span>
  
                          </span>
                        <input *ngIf='visibility=="2"'type="texxt" class="counter_input" formControlName="cin"  placeholder="CIN" >
                          <span *ngIf="signupForm.controls['cin'].invalid && (signupForm.controls['cin'].touched || signupForm.controls['cin'].dirty)">
                          
                            <span *ngIf="signupForm.controls['cin'].errors.required"style="color: rgb(253, 81, 81);">CIN Is required</span>
                            <span *ngIf="signupForm.controls['cin'].errors.minlength"style="color: rgb(253, 81, 81);"> CIN must have 8 carachters</span>
                            <span *ngIf="signupForm.controls['cin'].errors.maxlength"style="color: rgb(253, 81, 81);"> CIN must have 8 carachters</span>
              
                          </span>
                        <input *ngIf='visibility!="0"' type="text" class="counter_input" formControlName="tel" placeholder="Tel" >
                        <span *ngIf="signupForm.controls['tel'].invalid && (signupForm.controls['tel'].touched || signupForm.controls['tel'].dirty)">
                          
                            <span *ngIf="signupForm.controls['tel'].errors.required"style="color: rgb(253, 81, 81);" >Tel Is required</span>

                          </span>
                          <input *ngIf='visible'type="text" class="counter_input" formControlName="score" placeholder="Score" >
                          <input *ngIf='visible'type="text" class="counter_input" formControlName="note" placeholder="Note" >
                          <input type="file" #filePicker (change)="onImageSelected($event)" style="visibility: hidden;">
                          <button type="button" class="btn btn-primary py-3 px-5"style="background:#6B979C"(click)="filePicker.click()">Add Photo</button>
                        <button type="submit" class="counter_form_button" style="background:#6B979C" (click)="signupOrUpdate()">{{button}}</button>
                    </form>
                    <!-- Milestones -->

                    
                </div>

            </div>
       

    </div>
    </div>
</div>

